<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"></head>

<body>
  <header>
    <nav>
        <!-- ul se utiliza para hacer una lista(lista desordenanda) donde cada elemento es un li -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/Music">Music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
            <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://open.spotify.com/"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://www.apple.com/la/"><i class="fa-brands fa-apple"></i></a>
            <a href="https://www.amazon.com/-/es/"><i class="fa-brands fa-amazon"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
       </nav>
  </header> 
  <main>
     
       <h1>about<br>emilia</h1>
       <section><!-- Caja de comentarios -->
        <article><!-- caja para el comentario -->
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatibus.</h3>
               <p>- Lorem, ipsum dolor.</p>
               <article><!-- caja para el comentario -->
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptatibus.</h3>
                <p>- Lorem, ipsum dolor sit.</p>
            </article>
            </article>
       </section>
    </main>
       
</body>
</html>