<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <script src="https://kit.fontawesome.com/adab8f1af7.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/stylesheets/styles.css"><!-- esta etiqueta me genera la vinculacion externa que se genera dentro de la etiqueta head -->
</head>
<!-- aca va la imagen como fondo de pantalla -->
<body class="index">
    <header class="index__header"><!-- es una caja de cabezera -->

        <nav class="index__header__nav">
            <!-- ul se utiliza para hacer una lista(lista desordenanda) donde cada elemento es un li -->
                <ul class="index__header__nav--menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/Music">Music</a></li> 
                    <li><a href="/contact">contact</a></li>
                </ul> 
                <div class="index__header__nav--redes">
                    <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://open.spotify.com/"><i class="fa-brands fa-spotify"></i></a>
                    <a href="https://www.apple.com/la/"><i class="fa-brands fa-apple"></i></a>
                    <a href="https://www.amazon.com/-/es/"><i class="fa-brands fa-amazon"></i></a>
                     <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
               </nav>

                </div>
                


    </header>
    <!-- aca va la navegacion del sitio -->
  <main class="index__main">
     <h2 class="index__main--subtitulo">EMILIA<br>COLE //</h2>
     <h1 class="index__main--titulo">Twist in my reality</h1>
  </main>
   
 
</body>
</html>