<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole | Music</title>
    <script src="https://kit.fontawesome.com/adab8f1af7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body id="inicio"> 
    <header>
        <nav>
            <!-- ul se utiliza para hacer una lista(lista desordenanda) donde cada elemento es un li -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/Music">Music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
            <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://open.spotify.com/"><i class="fa-brands fa-spotify"></i></a>
            <a href="https://www.apple.com/la/"><i class="fa-brands fa-apple"></i></a>
            <a href="https://www.amazon.com/-/es/"><i class="fa-brands fa-amazon"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h5>Direct links</h5>
        <nav>
            <!-- navegacion interna de la pagina -->
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organic">Video: Organic Love</a></li>
                <li><a href="#contact">Video: Street ligth</a></li>
            </ul>
        </nav>
        <!-- caja de los albunes -->
        <section>
            <!-- caja albunes -->
            <article id="Album">
                <h3>Album<br>twist in my reality</h3><!-- subtitulo -->
                <img src="/images/emilia-play-list.png" alt="" width="640"><!-- imagen // con -width- modificamos el tamaño de la imagen -->

                <ol>
                    <!-- lista ordenada -->
                    <li><i class="fa fa-play"> </i> Organic Love</li>
                    <li><i class="fa fa-play"> </i>Twist In My Reality</li>
                    <li><i class="fa fa-play"> </i>Street Light</li>
                    <li><i class="fa fa-play"> </i>Lorem ipsum dolor sit amet.</li>
                </ol>
                <a href="#inicio">Go Top</a><!-- ancla -->
            </article>
        </section>
        <!-- caja para los videos -->
        <section>
            <!-- caja de videos -->
            <article id="Organic">
               <h3>video <br>Organic Love</h3> 
            <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Aca va el video -->
            <div>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
            </div>
            
            <a href="#inicio">Go Top</a><!-- ancla -->
            </article>
             <!-- caja de videos -->
            <article id="street">
                <h3>video <br>Street ligth</h3> 
            <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe><!-- Aca va el video -->
            <div>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
            </div>

            <a href="#inicio">Go Top</a><!-- ancla -->

            </article>
        </section>
    </main>
</body>

</html>